@import "../../.config/swaync/colors.css";

* {
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
}

.control-center {
  opacity: 1;
  background: @base;
  border-radius: 0px;
  border-color: @void;
  border-width: 3px;
  border-style: none none none solid;
}

notification-row:focus,
notification-row:hover {
  background: @void;
  color: @base;
}

.notification-row {
  outline: none;
  margin: 0px;
}

.notification {
  border-radius: 0px;
}

.notification-content {
  color: @text;
  background: @base;
  padding: 3px 10px 3px 6px;
  border-radius: 0px;
  border: 3px solid @void;
  margin: 0px;
}

.notification-default-action {
  margin: 0;
  padding: 0;
  border-radius: 0px;
}

.close-button {
  background: @rose;
  color: @base;
  text-shadow: none;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  margin-right: 5px;
}

.close-button:hover {
  box-shadow: none;
  background: @rose;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-action {
  border: 3px solid @void;
  border-top: none;
  border-radius: 0px;
}

.notification-default-action:hover,
.notification-action:hover {
  color: @base;
  background: @void;
}

.notification-default-action {
  border-radius: 0px;
  margin: 5px;
}

.inline-reply {
  margin-top: 8px;
}

.inline-reply-entry {
  background: @base;
  color: @text;
  caret-color: @text;
  /* border: 3px solid @void; */
  border-radius: 0px;
}

.inline-reply-button {
  font-size: 0.5rem;
  margin-left: 4px;
  background: @base;
  /* border: 3px solid @void; */
  border-radius: 0px;
  color: @text;
}

.inline-reply-button:disabled {
  background: initial;
  color: @text;
  /* border: 1px solid transparent; */
}

.inline-reply-button:hover {
  background: @void;
  color: @base;
  /* background: @overlay0; */
}

.body-image {
  margin-top: 6px;
  color: @text;
  border-radius: 0px;
}

.summary {
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
  color: @text;
  text-shadow: none;
}

.time {
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
  color: @text;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
  color: @text;
  text-shadow: none;
}

.control-center {
  background: @base;
  /* border: 3px solid @void; */
  color: @text;
  border-radius: 0px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: alpha(black, 0.1);
}

.widget-title {
  color: @void;
  /* background: @overlay0; */
  padding: 3px 6px;
  margin: 5px;
  font-size: 1rem;
  border-radius: 0px;
}

.widget-title > button {
  font-size: 0.8rem;
  font-weight: bold;
  color: @text;
  border-radius: 0px;
  background: @base;
  border: 3px solid @void;
}

.widget-title > button:hover {
  background: @void;
  color: @base;
}

.widget-dnd {
  /* background: @overlay0; */
  padding: 3px 6px;
  margin: 5px;
  border-radius: 0px;
  font-size: 1rem;
  color: @void;
}

.widget-dnd > switch {
  border-radius: 0px;
  border: 1px solid @void;
  background: @void;
}

.widget-dnd > switch:checked {
  background: @rose;
  border: 1px solid @rose;
}

.widget-dnd > switch slider {
  background: @base;
  border-radius: 0px;
  border: 2px @void solid;
}

.widget-dnd > switch:checked slider {
  background: @base;
  border-radius: 0px;
  border: 2px @rose solid;
}

.widget-label {
  margin: 5px;
}

.widget-label > label {
  font-size: 1rem;
  color: @text;
}

.widget-mpris {
  color: @text;
  /* background: @overlay0; */
  padding: 3px 6px;
  margin: 5px;
  border-radius: 0px;
}

.widget-mpris > box > button {
  border-radius: 0px;
}

.widget-mpris-player {
  padding: 3px 6px;
  margin: 5px;
}

.widget-mpris-title {
  font-weight: 100;
  font-size: 1rem;
}

.widget-mpris-subtitle {
  font-size: 0.75rem;
}

.low {
  background: @base;
  padding: 0px;
  border-radius: 0px;
}

.normal {
  background: @base;
  padding: 0px;
  border-radius: 0px;
}

.critical {
  background: @base;
  padding: 0px;
  border-radius: 0px;
  border: 1px solid @rose;
}
