environment {
    QT_QPA_PLATFORM "wayland"
}

input {
    keyboard {
        xkb {
            options "caps:escape"
        }

        repeat-delay 250
        repeat-rate 40
    }

    touchpad {
        // off
        tap
        dwt
        dwtp
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // middle-emulation
    }

    // warp-mouse-to-focus

    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="25%"

    disable-power-key-handling
}

gestures {
    hot-corners {
        off
    }
}

output "eDP-1" {
    // off
    // Run `niri msg outputs` for info
    mode "1920x1080"
    scale 1.25
    transform "normal" // normal, 90, 180, 270

    // Output scale and rotation has to be taken into account for positioning:
    // outputs are sized in logical, or scaled, pixels.
    // For example, a 3840×2160 output with scale 2.0 will have a logical size of 1920×1080,
    // so to put another output directly adjacent to it on the right, set its x to 1920.
    // If the position is unset or results in an overlap, the output is instead placed
    // automatically.
    position x=1280 y=0
}

// Make sure your cursor appear in /usr/share/icons
// Install xcursor package from os repo
cursor {
    xcursor-theme "BreezeX-RosePine"
    xcursor-size 24
    hide-after-inactive-ms 2000
}

layout {
    gaps 12
    center-focused-column "never"
    // always-center-single-column
    empty-workspace-above-first

    preset-column-widths {
        proportion 0.33333
        proportion 0.66666
        proportion 1.0
    }
    default-column-width { proportion 0.33333; }
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 1.0
    }
    focus-ring {
        // use border instead, use this when yiu have mutiple monitor
        off
        width 4
        active-color "#000000"
        inactive-color "#ffffff"
    }

    border {
        // off
        width 4
        active-color "#000000"
        inactive-color "#505050"
    }

    shadow {
        // on
        softness 10
        spread 10
        offset x=0 y=0
        color "#ebdbb2"
        inactive-color "#aac1aa" //This is turned off
    }

    struts {
        left 2
        right 2
        top 2
        bottom 2
    }

    tab-indicator {
        length total-proportion=0.9
        gaps-between-tabs 32
        position "bottom"
        corner-radius 32
        inactive-color "#bbbbbb"
    }

    background-color "transparent"
}

overview {
    workspace-shadow {
        off
    }
}

// spawn-at-startup "dbus-launch" "--sh-syntax" "waybar"
spawn-at-startup "/usr/libexec/polkit-gnome-authentication-agent-1"
spawn-at-startup "/usr/libexec/xdg-desktop-portal-wlr"
spawn-at-startup "xwayland-satellite" ":11"
spawn-at-startup "pipewire"
spawn-at-startup "swaync"
// spawn-at-startup "waybar"
spawn-at-startup "swww-daemon"
spawn-at-startup "fcitx5"
spawn-at-startup "sh" "-c" "~/.config/niri/scripts/idle.sh"

prefer-no-csd

// Use grimshot instead, niri stock screenshot suck!
screenshot-path "~/Pictures/Screenshots/Niri-%y-%m-%d_%H-%M-%S.png"

animations {
    slowdown 1.5
}

// Apply to all windows
window-rule {
    geometry-corner-radius 24
    clip-to-geometry true
    draw-border-with-background false
}

window-rule {
    match is-active=true
    shadow {
        // on
    }
}

// Apply opacity to all apps
/-window-rule {
    exclude app-id="zen" 
    exclude app-id="firefox"
    exclude app-id="Firefox"
    exclude app-id="virt-manager"
    exclude app-id="discord"
    exclude app-id="foot"

    opacity 0.95
}

window-rule {
    match is-active=false
    opacity 0.94
}

// Make "Picture-in-Picture" float
window-rule {
    match is-floating=true
    match title="Picture-in-Picture"
    open-floating true
    open-maximized false
    open-fullscreen false
    open-focused false
    opacity 1.0
    geometry-corner-radius 0
    border {
        width 2
    }
}

// Make deez apps fullscreen cuz they're supposed to be
window-rule {
    match app-id="zen"
    match app-id="firefox"
    match app-id="Firefox"
    match app-id="virt-manager"
    match app-id="discord"

    exclude title="Virtual Machine Manager"

    open-maximized true
}

// Some tweak for vm
window-rule {
    match title="Virtual Machine Manager"
    open-focused false
    open-floating true
    min-height 500
    max-height 500
    min-width 800
    max-width 800
}

layer-rule {
    match namespace="swww-daemon"
    place-within-backdrop true
}

layer-rule {
    match namespace="waybar"

    shadow {
        on
        softness 10
        spread 10
        color "#282828"
    }
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return { spawn "foot"; }
    Mod+D { spawn "fuzzel"; }
    Mod+P { spawn "~/.config/niri/scripts/power.sh"; }
    Mod+Shift+B { spawn "~/.config/niri/scripts/toggle-bar.sh"; }
    Mod+Ctrl+E { spawn "~/.config/niri/scripts/lock-screen.sh"; }
    // Super+Alt+L { spawn "swaylock"; }
    Mod+Shift+S { spawn "grimshot" "copy" "area"; }
    Mod+Shift+P { spawn "swaync-client" "-t"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    XF86AudioRaiseVolume allow-when-locked=true { spawn "pactl" "set-sink-volume" "@DEFAULT_SINK@" "+5%"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "pactl" "set-sink-volume" "@DEFAULT_SINK@" "-5%"; }
    XF86AudioMute        allow-when-locked=true { spawn "pactl" "set-sink-mute" "@DEFAULT_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "pactl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    Mod+Q { close-window; }

    Mod+A { toggle-overview; }
    Mod+Tab { toggle-overview; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    // Mod+J     { focus-window-down; }
    // Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    // Mod+Shift+J     { move-window-down; }
    // Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    // I Have ONE monitor so ...

    // Mod+Shift+Left  { focus-monitor-left; }
    // Mod+Shift+Down  { focus-monitor-down; }
    // Mod+Shift+Up    { focus-monitor-up; }
    // Mod+Shift+Right { focus-monitor-right; }
    // Mod+Shift+H     { focus-monitor-left; }
    // Mod+Shift+J     { focus-monitor-down; }
    // Mod+Shift+K     { focus-monitor-up; }
    // Mod+Shift+L     { focus-monitor-right; }
    //
    // Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    // Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    // Mod+U              { focus-workspace-down; }
    // Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    // Mod+Ctrl+U         { move-column-to-workspace-down; }
    // Mod+Ctrl+I         { move-column-to-workspace-up; }
    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    // Mod+Shift+U         { move-workspace-down; }
    // Mod+Shift+I         { move-workspace-up; }
    Mod+Alt+J         { move-workspace-down; }
    Mod+Alt+K         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Numbering is weird cuz i did a workaround
    Mod+1 { focus-workspace 2; }
    Mod+2 { focus-workspace 3; }
    Mod+3 { focus-workspace 4; }
    Mod+4 { focus-workspace 5; }
    Mod+5 { focus-workspace 6; }
    Mod+6 { focus-workspace 7; }
    Mod+7 { focus-workspace 8; }
    Mod+8 { focus-workspace 9; }
    Mod+9 { focus-workspace 10; }
    Mod+0 { focus-workspace 11; }
    Mod+Ctrl+1 { move-column-to-workspace 2; }
    Mod+Ctrl+2 { move-column-to-workspace 3; }
    Mod+Ctrl+3 { move-column-to-workspace 4; }
    Mod+Ctrl+4 { move-column-to-workspace 5; }
    Mod+Ctrl+5 { move-column-to-workspace 6; }
    Mod+Ctrl+6 { move-column-to-workspace 7; }
    Mod+Ctrl+7 { move-column-to-workspace 8; }
    Mod+Ctrl+8 { move-column-to-workspace 9; }
    Mod+Ctrl+9 { move-column-to-workspace 10; }
    Mod+Ctrl+0 { move-column-to-workspace 11; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+1 { move-window-to-workspace 1; }

    // Switches focus between the current and the previous workspace.
    // Mod+Tab { focus-workspace-previous; }

    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    // Mod+Comma  { consume-or-expel-window-left; }
    // Mod+Period { consume-or-expel-window-right; }
    Mod+U  { consume-or-expel-window-left; }
    Mod+I { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    // Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    // Mod+Period { expel-window-from-column; }

    Mod+Space { switch-preset-column-width; }
    Mod+Shift+Space { switch-preset-window-height; }
    Mod+Ctrl+Space { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+T       { toggle-window-floating; }
    Mod+Shift+T { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Mod+S { spawn "~/.config/niri/scripts/niri-screen.sh"; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }

    // Mod+Shift+P { power-off-monitors; }
}

//// MISC
hotkey-overlay {
    skip-at-startup
}
